<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhjys.fund.service.mapper.FundUserMapper">

    <insert id="save" parameterType="com.qhjys.fund.entity.FundUser">
        INSERT INTO fund_user
        (
            user_name,
            password,
            created_date
        )
        VALUES
        (
            #{item.userName},
            #{item.password},
            #{item.createdDate}
        )
    </insert>

    <update id="update" parameterType="com.qhjys.fund.entity.FundUser">
        UPDATE fund_user
        set
            user_name = #{item.userName},
            password = #{item.password},
            created_date = #{item.createdDate}
        WHERE id = #{item.id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM fun_user WHERE id = #{id}
    </delete>

    <select id="getById" resultType="com.qhjys.fund.entity.FundUser" parameterType="long">
        SELECT * FROM fund_user WHERE id = #{id}
    </select>

    <select id="find" resultType="com.qhjys.fund.entity.FundUser" parameterType="map">
        SELECT * FROM fund_user LIMIT #{page},#{size}
    </select>
</mapper>